body {

  
}
a {
	text-decoration: none;
	color: #000000;
}

a:link {
	color: #000000;
	text-decoration: none;
	}
	
a:visited {
  color: #000000; 
  text-decoration: none;
  }
  
a:hover {
  color: #000000; 
  text-decoration: none;
  }
a:active {
	color: #000000;
	text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;

}
.intro {

  vertical-align: middle;
  display: inline-block;

}
.carousel-item {
  background-size: cover;
  height: 400px;
  text-align: center;
}
.carousel-item.item1 {
  background-image: url(../images/exerciseAd.jpg);
  background-position: center top;
}

.carousel-item.item2 {
  background-image: url(../images/foodAd2.jpg);
  background-position: center center;
}

.carousel-item.item3 {
  background-image: url(../images/foodAd.jpg);
  background-position: center bottom;
}

h5 {
  color: white;
  font-size: 32px;
  margin-bottom: 18px;
  font-weight: 300;
  margin-top:0;
  font-weight: bold;

}
.intro {
	color: white;
}




#navi p {
  font-size:22px;
  color: white;
  margin-bottom: 48px;
  margin-top: 0;
  
  font-weight: bold;

}
#navi a{

  font-size: 16px;
  color: white;
  background-color: #5900E7;
  padding: 10px 30px;
  border-radius: 2px;
  font-weight: 300;
}

#info{
  font-size: 18px;
  color: #4A4A4A;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  min-height: 100px;
  

}
#info h6 {
  font-size:18px;
  color:#4A4A4A;

  
}
#info a {
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  color: #4A4A4A;


}

.alert {
    margin-top: 50px;
  margin-bottom: 16px;
}

#box{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
  margin-bottom: 20px;
}

.container{
  padding-left: 0px;
  padding-right: 0px;
}
