<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis-org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.mapper.adminMapper">
<cache></cache>

<update id="updateSellerDivideS" parameterType="String">
	UPDATE seller
	SET
	seller_divide = 's'
	WHERE
	seller_email = #{sellerEmail}
</update>

<update id="updateAppliStatusAprov" parameterType="String">
	UPDATE seller_application
	SET
	application_status = '승인',
	application_des = '승인 완료'
	WHERE
	seller_email = #{sellerEmail}
</update>


<resultMap type="SellerApplication" id="selectAppliByAppliNoMap">
		<id column="SELLER_APPLI_NO" jdbcType="BIGINT" property="sellerAppliNo" />
		<id column="SELLER_EMAIL" jdbcType="VARCHAR" property="sellerEmail" />
		<result column="SELLER_APPLI_BN" jdbcType="VARCHAR" property="sellerAppliBn" />
		<result column="STORE_NAME" jdbcType="VARCHAR" property="storeName" />
		<result column="STORE_TELPHONE" jdbcType="VARCHAR" property="storeTelphone" />
		<result column="STORE_ADDR" jdbcType="VARCHAR" property="storeAddr" />
		<result column="STORE_TERM" jdbcType="VARCHAR" property="storeTerm" />
		<result column="APPLICATION_STATUS" jdbcType="VARCHAR" property="applicationStatus" />
		<result column="APPLICATION_DES" jdbcType="VARCHAR" property="applicationDes" />
		<result column="SELLER_LICENSE_SIZE" jdbcType="BIGINT" property="sellerLicenseSize" />
		<result column="SELLER_LICENSE_ORIGINAL" jdbcType="VARCHAR" property="sellerLicenseOriginal" />
		<result column="SELLER_LICENSE_STORED" jdbcType="VARCHAR" property="sellerLicenseStored" />
		<result column="SELLER_BR_SIZE" jdbcType="BIGINT" property="sellerBrSize" />
		<result column="SELLER_BR_ORIGINAL" jdbcType="VARCHAR" property="sellerBrOriginal" />
		<result column="SELLER_BR_STORED" jdbcType="VARCHAR" property="sellerBrStored" />
</resultMap>

<select id="selectAppliByAppliNo" parameterType="Integer" resultMap="selectAppliByAppliNoMap">
	SELECT seller_appli_no, seller_email, seller_appli_bn, store_name, store_telphone, store_addr,
	store_term, application_status, application_des, seller_license_size, seller_license_original, seller_license_stored, 
	seller_br_size, seller_br_original, seller_br_stored
	FROM seller_application
	WHERE seller_appli_no = #{sellerAppliNo}
</select>



<update id="updateApplicationStatusReturn" parameterType="SellerApplication">
	UPDATE seller_application
	SET
	application_status = '반려',
	application_des = #{applicationDes}
	WHERE
	seller_email = #{sellerEmail}
</update>

<update id="updateSellerDivideW" parameterType="String">
	UPDATE seller
	SET
	seller_divide = 'ns'
	WHERE
	seller_email = #{sellerEmail}
</update>

<delete id="deleteSellerApplication" parameterType="String">
	DELETE
	FROM seller_application
	WHERE seller_email = #{sellerEmail}
</delete>
</mapper>