<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis-org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.mapper.coachMapper">
<cache></cache>

<sql id="col">
COACH_EMAIL, COACH_PW, COACH_NAME, COACH_PHOTO, COACH_CAREER
</sql>

<resultMap type="Coach" id="coachMap">
	<id column="COACH_EMAIL"  jdbcType="VARCHAR"  property="coachEmail"/>
	<result column="COACH_PW"  jdbcType="VARCHAR"  property="coachPw"/>
	<result column="COACH_NAME"  jdbcType="VARCHAR"  property="coachName"/>
	<result column="COACH_PHOTO"  jdbcType="VARCHAR"  property="coachPhoto"/>
	<result column="COACH_CAREER"  jdbcType="VARCHAR"  property="coachCareer"/>
</resultMap>

<select id="selectByEmail" resultMap="coachMap" parameterType="String">
	select <include refid="col"></include>
	from coach
	where COACH_EMAIL = #{COACH_EMAIL}
</select>


</mapper>