<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis-org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.mapper.exerciseMapper">
<cache></cache>






<update id="updateUpload" parameterType="Upload">
	update upload
	set 
	(EXERCISE_CAT_A_NUMBER) = #{exerciseCatANumber},
	(EXERCISE_CAT_B_NUMBER) = #{exerciseCatBNumber},
	(UPLOAD_SIZE) = #{uploadSize},
	(UPLOAD_ORIGINAL) = #{uploadOriginal},
	(UPLOAD_STORED) = #{uploadStored}
	where UPLOAD_NUMBER = #{uploadNumber}
</update>

<update id="updateExercise" parameterType="Exercise">
	update exercise
	set EXERCISE_CONTENT = #{exerciseContent}
	where EXERCISE_NUMBER = #{exerciseNumber}
	
</update>

<insert id="insertUpload" parameterType="Upload">
	insert into upload
	(UPLOAD_NUMBER, EXERCISE_NUMBER, EXERCISE_CAT_A_NUMBER, EXERCISE_CAT_B_NUMBER, 
	UPLOAD_SIZE, UPLOAD_ORIGINAL, UPLOAD_STORED, UPLOAD_DIVIDE) 
	values
	(COUNT_NUMBER.NEXTVAL, #{exerciseNumber}, #{exerciseCatANumber}, #{exerciseCatBNumber},
	#{uploadSize}, #{uploadOriginal}, #{uploadStored}, #{uploadDivide})
</insert>



<insert id="insertExercise" parameterType="Exercise">
	insert into exercise
	(EXERCISE_NUMBER, EXERCISE_CAT_A_NUMBER, EXERCISE_CAT_B_NUMBER, 
	 EXERCISE_CONTENT) 
	values
	(#{exerciseNumber}, #{exerciseCatANumber}, #{exerciseCatBNumber}, #{exerciseContent})
</insert>

<resultMap type="ExerciseCatB" id="exerciseCatBMap">
	<id column="EXERCISE_CAT_B_NUMBER" jdbcType="BIGINT" property="exerciseCatBNumber"/>
	<result column="EXERCISE_CAT_B_NAME" jdbcType="VARCHAR" property="exerciseCatBName"/>	
</resultMap>


<select id="exerciseCatBSelect" resultMap="exerciseCatBMap">
	select EXERCISE_CAT_B_NUMBER, EXERCISE_CAT_B_NAME
	from EXERCISE_CAT_B
</select>

<resultMap type="ExerciseCatA" id="exerciseCatAMap">
	<id column="EXERCISE_CAT_A_NUMBER" jdbcType="BIGINT" property="exerciseCatANumber"/>
	<result column="EXERCISE_CAT_B_NUMBER" jdbcType="BIGINT" property="exerciseCatBNumber"/>
	<result column="EXERCISE_CAT_A_NAME" jdbcType="VARCHAR" property="exerciseCatAName"/>	
</resultMap>

<select id="exerciseCatASelect" resultMap="exerciseCatAMap" parameterType="ExerciseCatB">
 select EXERCISE_CAT_A_NUMBER, EXERCISE_CAT_B_NUMBER, EXERCISE_CAT_A_NAME
 from EXERCISE_CAT_A
 where EXERCISE_CAT_B_NUMBER = #{exerciseCatBNumber}
</select>

<select id="selectExerciseNumber" resultType="Integer">
	select COUNT_NUMBER.NEXTVAL
	from dual
</select>

<resultMap type="Upload" id="uploadMap">
	<!-- <constructor>
		<idArg javaType="int" column="EXERCISE_NUMBER"/>
		<idArg javaType="int" column="EXERCISE_CAT_A_NUMBER"/>
		<idArg javaType="int" column="EXERCISE_CAT_B_NUMBER"/>
		<arg javaType="long" column="EXERCISE_SIZE"/>
		<arg javaType="string" column="EXERCISE_ORIGINAL"/>
		<arg javaType="string" column="EXERCISE_STORED"/>
		<arg javaType="string" column="EXERCISE_DIVIDE"/>
	</constructor>  -->
	
	<id column="UPLOAD_NUMBER" jdbcType="BIGINT" property="uploadNumber"/>
	<id column="EXERCISE_NUMBER" jdbcType="BIGINT" property="exerciseNumber"/>
	<id column="EXERCISE_CAT_A_NUMBER" jdbcType="BIGINT" property="exerciseCatANumber"/>
	<id column="EXERCISE_CAT_B_NUMBER" jdbcType="BIGINT" property="exerciseCatBNumber"/>	
	<result column="UPLOAD_SIZE" jdbcType="BIGINT" property="uploadSize"/>	
	<result column="UPLOAD_ORIGINAL" jdbcType="VARCHAR" property="uploadOriginal"/>	
	<result column="UPLOAD_STORED" jdbcType="VARCHAR" property="uploadStored"/>	
	<result column="UPLOAD_DIVIDE" jdbcType="VARCHAR" property="uploadDivide"/>	 
	
	
</resultMap>

<select id="uploadList" resultMap="uploadMap">
select UPLOAD_NUMBER, EXERCISE_NUMBER, EXERCISE_CAT_A_NUMBER, EXERCISE_CAT_B_NUMBER,
UPLOAD_SIZE, UPLOAD_ORIGINAL, UPLOAD_STORED, UPLOAD_DIVIDE
from upload
</select>

</mapper>