<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis-org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.mapper.exerciseMapper">
<cache></cache>

<sql id="col">
	COACH_EMAIL, COACH_PW, COACH_NAME, COACH_PHOTO, COACH_CAREER
</sql>





<insert id="insertExercise" parameterType="ExerciseUpload">
insert into exerciseUpload (EXERCISE_NUMBER, EXERCISE_CAT_A_NUMBER, EXERCISE_CAT_B_NUMBER, EXERCISE_UPLOAD_ORIGINAL,
							EXERCISE_UPLOAD_STORED, EXERCISE_UPLOAD_SIZE, EXERCISE_UPLOAD_DIVIDE) 
values ()
</insert>

<resultMap type="ExerciseCatB" id="exerciseCatBMap">
	<id column="EXERCISE_CAT_B_NUMBER" jdbcType="BIGINT" property="exerciseCatBNumber"/>
	<result column="EXERCISE_CAT_B_NAME" jdbcType="VARCHAR" property="exerciseCatBName"/>	
</resultMap>


<select id="exerciseCatBSelect" resultMap="exerciseCatBMap">
	select EXERCISE_CAT_B_NUMBER, EXERCISE_CAT_B_NAME
	from EXERCISE_CAT_B
</select>

<resultMap type="ExerciseCatA" id="exerciseCatAMap">
	<id column="EXERCISE_CAT_A_NUMBER" jdbcType="BIGINT" property="exerciseCatANumber"/>
	<result column="EXERCISE_CAT_B_NUMBER" jdbcType="BIGINT" property="exerciseCatBNumber"/>
	<result column="EXERCISE_CAT_A_NAME" jdbcType="VARCHAR" property="exerciseCatAName"/>	
</resultMap>

<select id="exerciseCatASelect" resultMap="exerciseCatAMap" parameterType="ExerciseCatB">
 select EXERCISE_CAT_A_NUMBER, EXERCISE_CAT_B_NUMBER, EXERCISE_CAT_A_NAME
 from EXERCISE_CAT_A
 where EXERCISE_CAT_B_NUMBER = #{exerciseCatBNumber}
</select>

</mapper>