<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis-org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.mapper.foodMapper">
	<cache></cache>

	<select id="selectFoodNumber" resultType="Integer">
		select count(food_no)
		from food
	</select>

	<insert id="insertFood" parameterType="Food">
		INSERT INTO food
		(food_no,
		seller_email, food_cat_a_no, food_cat_b_no, food_cat_c_no, food_name,
		food_quant, food_expiry_date, food_origin, food_sale, food_flavor,
		food_price, food_carbo, food_protein, food_fat, food_cal, food_image)
		VALUES (#{foodNo}, #{sellerEmail}, #{foodCatANo}, #{foodCatBNo},
		#{foodCatCNo}, #{foodName}, #{foodQuant}, #{foodExpiryDate},
		#{foodOrigin}, #{foodSale}, #{foodFlavor}, #{foodPrice}, #{foodCarbo},
		#{foodProtein}, #{foodFat}, #{foodCal}, #{foodImage})
	</insert>


	<resultMap type="FoodCatC" id="ccaSelectMap">
		<id column="food_cat_c_no" jdbcType="BIGINT" property="foodCatCNo" />
		<result column="food_cat_c_name" jdbcType="VARCHAR"
			property="foodCatCName" />
	</resultMap>
	
	<select id="ccaSelect" 
		resultMap="ccaSelectMap">
		SELECT
		food_cat_c_no,
		food_cat_c_name
		FROM food_cat_c
	</select>
	
	
	<resultMap type="FoodCatA" id="acaSelectMap">
		<id column="food_cat_a_no" jdbcType="BIGINT" property="foodCatANo" />
		<result column="food_cat_b_no" jdbcType="BIGINT"
			property="foodCatBNo" />
		<result column="food_cat_c_no" jdbcType="BIGINT"
			property="foodCatCNo" />
		<result column="food_cat_a_name" jdbcType="VARCHAR"
			property="foodCatAName" />
	</resultMap>

	<select id="acaSelect" resultMap="acaSelectMap" parameterType="FoodCatA">
		SELECT
		food_cat_a_no,
		food_cat_b_no,
		food_cat_c_no,
		food_cat_a_name
		FROM food_cat_a
		WHERE
		food_cat_c_no = #{foodCatCNo} and food_cat_b_no =
		#{foodCatBNo}

	</select>


	<resultMap type="FoodCatB" id="bcaSelectMap">
		<id column="food_cat_b_no" jdbcType="BIGINT" property="foodCatBNo" />
		<result column="food_cat_c_no" jdbcType="BIGINT"
			property="foodCatCNo" />
		<result column="food_cat_b_name" jdbcType="VARCHAR"
			property="foodCatBName" />
	</resultMap>

	<select id="bcaSelect" parameterType="FoodCatC"
		resultMap="bcaSelectMap">
		SELECT
		food_cat_b_no,
		food_cat_c_no,
		food_cat_b_name
		FROM
		food_cat_b
		WHERE food_cat_c_no = #{foodCatCNo}
	</select>



	
</mapper>

