<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis-org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.mapper.foodMapper">
	<cache></cache>
	<select id="selectNo" resultType="Integer">
		SELECT COUNT_NUMBER.NEXTVAL
   		FROM dual
	</select>
	
	 <select id="selectFoodListByCategoryA" resultMap="selectSellerFoodMap" parameterType="Integer">
		select *
		from food
		where FOOD_CAT_A_NO = #{foodCatANo}
	</select> 

	<select id="selectFoodNumber" resultType="Integer">
		select count(food_no)
		from food
	</select>

	<insert id="insertFood" parameterType="Food">
		INSERT INTO food
		(food_no, seller_email, food_cat_a_no, food_cat_b_no, food_cat_c_no, food_name,
		food_quant, food_expiry_date, food_sale,
		food_price, food_carbo, food_protein, food_fat, food_cal, food_size, food_original, food_stored)
		VALUES (#{foodNo}, #{sellerEmail}, #{foodCatANo}, #{foodCatBNo},
		#{foodCatCNo}, #{foodName}, #{foodQuant}, #{foodExpiryDate},
		#{foodSale}, #{foodPrice}, #{foodCarbo},
		#{foodProtein}, #{foodFat}, #{foodCal}, #{foodSize}, #{foodOriginal}, #{foodStored})
	</insert>
	
	

	<resultMap type="FoodCatC" id="ccaSelectMap">
		<id column="food_cat_c_no" jdbcType="BIGINT" property="foodCatCNo" />
		<result column="food_cat_c_name" jdbcType="VARCHAR"
			property="foodCatCName" />
	</resultMap>
	
	<select id="ccaSelect" 
		resultMap="ccaSelectMap">
		SELECT
		food_cat_c_no, food_cat_c_name
		FROM food_cat_c
	</select>
	
	
	<resultMap type="FoodCatA" id="acaSelectMap">
		<id column="food_cat_a_no" jdbcType="BIGINT" property="foodCatANo" />
		<id column="food_cat_b_no" jdbcType="BIGINT"
			property="foodCatBNo" />
		<id column="food_cat_c_no" jdbcType="BIGINT"
			property="foodCatCNo" />
		<result column="food_cat_a_name" jdbcType="VARCHAR"
			property="foodCatAName" />
	</resultMap>

	<select id="acaSelect" resultMap="acaSelectMap" parameterType="FoodCatA">
		SELECT
		food_cat_a_no, food_cat_b_no, food_cat_c_no, food_cat_a_name
		FROM food_cat_a
		WHERE
		food_cat_c_no = #{foodCatCNo} and food_cat_b_no = #{foodCatBNo}

	</select>


	<resultMap type="FoodCatB" id="bcaSelectMap">
		<id column="food_cat_b_no" jdbcType="BIGINT" property="foodCatBNo" />
		<id column="food_cat_c_no" jdbcType="BIGINT"
			property="foodCatCNo" />
		<result column="food_cat_b_name" jdbcType="VARCHAR"
			property="foodCatBName" />
	</resultMap>

	<select id="bcaSelect" parameterType="FoodCatC"
		resultMap="bcaSelectMap">
		SELECT
		food_cat_b_no, food_cat_c_no, food_cat_b_name
		FROM
		food_cat_b
		WHERE food_cat_c_no = #{foodCatCNo}
	</select>
	
	<update id="updateFood" parameterType="Food">
		UPDATE food 
		SET
		FOOD_CAT_A_NO = #{foodCatANo},
		FOOD_CAT_B_NO = #{foodCatBNo},
		FOOD_CAT_C_NO = #{foodCatCNo},  
		FOOD_NAME = #{foodName},   
		FOOD_QUANT = #{foodQuant},
		FOOD_EXPIRY_DATE = #{foodExpiryDate},
		FOOD_SALE = #{foodSale},       
		FOOD_PRICE = #{foodPrice},    
		FOOD_CARBO = #{foodCarbo},    
		FOOD_PROTEIN = #{foodProtein},    
		FOOD_FAT = #{foodFat},      
		FOOD_CAL = #{foodCal},        
		FOOD_SIZE = #{foodSize},      
		FOOD_ORIGINAL = #{foodOriginal},  
		FOOD_STORED = #{foodStored} 
		WHERE FOOD_NO = #{foodNo}
	</update>
	
	
	<resultMap type="Food" id="sellerFoodListMap">
		<id column="food_no" jdbcType="BIGINT" property="foodNo" />
		<id column="food_cat_a_no" jdbcType="BIGINT" property="foodCatANo" />
		<id column="food_cat_b_no" jdbcType="BIGINT" property="foodCatBNo" />
		<id column="food_cat_c_no" jdbcType="BIGINT" property="foodCatCNo" />
		<result column="food_name" jdbcType="VARCHAR" property="foodName" />
		<result column="food_quant" jdbcType="BIGINT" property="foodQuant" />
		<result column="food_expiry_date" jdbcType="VARCHAR" property="foodExpiryDate" />
		<result column="food_sale" jdbcType="BIGINT" property="foodSale" />
		<result column="food_price" jdbcType="BIGINT" property="foodPrice" />
		<result column="food_carbo" jdbcType="BIGINT" property="foodCarbo" />
		<result column="food_protein" jdbcType="BIGINT" property="foodProtein" />
		<result column="food_fat" jdbcType="BIGINT" property="foodFat" />
		<result column="food_cal" jdbcType="BIGINT" property="foodCal" />
		<result column="food_size" jdbcType="BIGINT" property="foodSize" />
		<result column="food_original" jdbcType="VARCHAR" property="foodOriginal" />
		<result column="food_stored" jdbcType="VARCHAR" property="foodStored" />
	</resultMap>
	
	<select id="sellerFoodList" parameterType="String" resultMap="sellerFoodListMap">
		SELECT
		food_no, seller_email, food_cat_a_no, food_cat_b_no, food_cat_c_no, food_name, food_quant, food_expiry_date,
		food_sale, food_price, food_carbo, food_protein, food_fat, food_cal, food_size,
		food_original, food_stored
		FROM
		food
		WHERE seller_email = #{sellerEmail}
		order by food_no
	</select>
	
	<select id="selectOrderedFoodList" parameterType="String" resultMap="sellerFoodListMap">
		SELECT * 
		FROM food
		WHERE food_no in (
			SELECT DISTINCT food_no 
			FROM pro_food_pay pfp, pro_food_order pfo
			WHERE pfp.pro_food_order_receiver_no  = pfo.pro_food_order_receiver_no
			AND pfp.member_email = #{memberEmail}
			UNION 
			SELECT DISTINCT food_no
			FROM food_pay fp, food_order fo
			WHERE fp.food_order_receiver_no = fo.food_order_receiver_no
			AND fp.member_email = #{memberEmail}
		)
	</select>
	
	
	<resultMap type="Food" id="selectSellerFoodMap">
		<id column="food_no" jdbcType="BIGINT" property="foodNo" />
		<id column="seller_email" jdbcType="VARCHAR" property="sellerEmail" />
		<id column="food_cat_a_no" jdbcType="BIGINT" property="foodCatANo" />
		<id column="food_cat_b_no" jdbcType="BIGINT" property="foodCatBNo" />
		<id column="food_cat_c_no" jdbcType="BIGINT" property="foodCatCNo" />
		<result column="food_name" jdbcType="VARCHAR" property="foodName" />
		<result column="food_quant" jdbcType="BIGINT" property="foodQuant" />
		<result column="food_expiry_date" jdbcType="VARCHAR" property="foodExpiryDate" />
		<result column="food_sale" jdbcType="BIGINT" property="foodSale" />
		<result column="food_price" jdbcType="BIGINT" property="foodPrice" />
		<result column="food_carbo" jdbcType="BIGINT" property="foodCarbo" />
		<result column="food_protein" jdbcType="BIGINT" property="foodProtein" />
		<result column="food_fat" jdbcType="BIGINT" property="foodFat" />
		<result column="food_cal" jdbcType="BIGINT" property="foodCal" />
		<result column="food_size" jdbcType="BIGINT" property="foodSize" />
		<result column="food_original" jdbcType="VARCHAR" property="foodOriginal" />
		<result column="food_stored" jdbcType="VARCHAR" property="foodStored" />
	</resultMap>
	
	<select id="selectSellerFood" parameterType="Integer" resultMap="selectSellerFoodMap">
		SELECT
		food_no, seller_email, food_cat_a_no, food_cat_b_no, food_cat_c_no, food_name, food_quant, food_expiry_date,
		food_sale, food_price, food_carbo, food_protein, food_fat, food_cal, food_size, food_original, food_stored
		FROM food
		WHERE food_no = #{foodNo}
	</select>
	
<delete id="deleteFood" parameterType="String">
	DELETE
	FROM food
	WHERE food_no = #{foodNo}
</delete>


<resultMap type="FoodAndApplication" id="selectFoodListMap">
		<id column="food_no" jdbcType="BIGINT" property="foodNo" />
		<id column="seller_email" jdbcType="VARCHAR" property="sellerEmail" />
		<id column="food_cat_a_no" jdbcType="BIGINT" property="foodCatANo" />
		<id column="food_cat_b_no" jdbcType="BIGINT" property="foodCatBNo" />
		<id column="food_cat_c_no" jdbcType="BIGINT" property="foodCatCNo" />
		<result column="food_name" jdbcType="VARCHAR" property="foodName" />
		<result column="food_quant" jdbcType="BIGINT" property="foodQuant" />
		<result column="food_expiry_date" jdbcType="VARCHAR" property="foodExpiryDate" />
		<result column="food_sale" jdbcType="BIGINT" property="foodSale" />
		<result column="food_price" jdbcType="BIGINT" property="foodPrice" />
		<result column="food_carbo" jdbcType="BIGINT" property="foodCarbo" />
		<result column="food_protein" jdbcType="BIGINT" property="foodProtein" />
		<result column="food_fat" jdbcType="BIGINT" property="foodFat" />
		<result column="food_cal" jdbcType="BIGINT" property="foodCal" />
		<result column="food_size" jdbcType="BIGINT" property="foodSize" />
		<result column="food_original" jdbcType="VARCHAR" property="foodOriginal" />
		<result column="food_stored" jdbcType="VARCHAR" property="foodStored" />
		<result column="store_name" jdbcType="VARCHAR" property="storeName" />
		<result column="store_telphone" jdbcType="VARCHAR" property="storeTelphone" />
		<result column="store_addr" jdbcType="VARCHAR" property="storeAddr" />
</resultMap>

<select id="selectAllFoodList" resultMap="selectSellerFoodMap">
	select *
	from food
</select>
	
<select id="selectFoodList" resultMap="selectFoodListMap">
		SELECT
		food_no, f.seller_email, food_cat_a_no, food_cat_b_no, food_cat_c_no, 
		food_name, food_quant, food_expiry_date, food_sale,
		food_price, food_carbo, food_protein, food_fat, food_cal, food_size, food_original,
		food_stored, sa.store_name, sa.store_telphone, sa.store_addr
		FROM food f, seller_application sa
		WHERE f.seller_email = sa.seller_email
		order by food_no
</select>


<select id="selectFood" parameterType="Integer" resultMap="selectFoodListMap">
		SELECT
		food_no, f.seller_email, food_cat_a_no, food_cat_b_no, food_cat_c_no, 
		food_name, food_quant, food_expiry_date, food_sale,
		food_price, food_carbo, food_protein, food_fat, food_cal, food_size, food_original,
		food_stored, sa.store_name, sa.store_telphone, sa.store_addr
		FROM food f, seller_application sa
		WHERE f.seller_email = sa.seller_email and f.food_no = #{foodNo}
</select>

<select id="selectCoachRecomFoodList" parameterType="String" resultMap="selectFoodListMap">
		SELECT distinct f.food_no, f.seller_email, f.food_cat_a_no, f.food_cat_b_no, f.food_cat_c_no, f.food_name, f.food_quant, f.food_expiry_date, f.food_sale, f.food_price, f.food_carbo, f.food_protein, f.food_fat, f.food_size, f.food_original, f.food_stored,
		sa.store_name, sa.store_telphone, sa.store_addr
		FROM PRO_FOOD_ORDER pfo, pro_food_pay pfp, food f, seller_application sa
		WHERE pfo.MEMBER_EMAIL = pfp.MEMBER_EMAIL
		AND pfo.food_no = f.food_no
		AND f.seller_email = sa.SELLER_EMAIL
		AND pfp.member_email = #{memberEmail}
		order by food_no
</select>



<select id="selectFoodReviewNo" resultType="Integer">
		select count(food_review_no)
		from food_review
</select>

<insert id="insertFoodReview" parameterType="FoodReview">
		INSERT INTO food_review(
		food_review_no, member_email, food_no, seller_email, food_cat_a_no, food_cat_b_no, food_cat_c_no, food_review_regdate,
		food_review_food_name, food_review_title, food_review_score, food_review_comment, food_review_size, food_review_original, food_review_stored
		)
		VALUES(
		#{foodReviewNo}, #{memberEmail}, #{foodNo}, #{sellerEmail}, #{foodCatANo}, #{foodCatBNo}, #{foodCatCNo}, #{foodReviewRegdate},
		#{foodReviewFoodName}, #{foodReviewTitle}, #{foodReviewScore}, #{foodReviewComment}, #{foodReviewSize}, #{foodReviewOriginal}, #{foodReviewStored}
		)
</insert>


<resultMap type="FoodReviewAndAnswer" id="selectReviewAndAnswerMap">
		<id column="food_review_no" jdbcType="BIGINT" property="foodReviewNo" />
		<id column="member_email" jdbcType="VARCHAR" property="memberEmail" />
		<id column="food_no" jdbcType="BIGINT" property="foodNo" />
		<id column="seller_email" jdbcType="VARCHAR" property="sellerEmail" />
		<id column="food_cat_a_no" jdbcType="BIGINT" property="foodCatANo" />
		<result column="food_cat_b_no" jdbcType="BIGINT" property="foodCatBNo" />
		<result column="food_cat_c_no" jdbcType="BIGINT" property="foodCatCNo" />
		<result column="food_review_regdate" jdbcType="DATE" property="foodReviewRegdate" />
		<result column="food_review_food_name" jdbcType="VARCHAR" property="foodReviewFoodName" />
		<result column="food_review_title" jdbcType="VARCHAR" property="foodReviewTitle" />
		<result column="food_review_score" jdbcType="BIGINT" property="foodReviewScore" />
		<result column="food_review_comment" jdbcType="VARCHAR" property="foodReviewComment" />
		<result column="food_review_size" jdbcType="BIGINT" property="foodReviewSize" />
		<result column="food_review_original" jdbcType="VARCHAR" property="foodReviewOriginal" />
		<result column="food_review_stored" jdbcType="VARCHAR" property="foodReviewStored" />
		
		<collection property="foodReviewAnswers" ofType="FoodReviewAnswer">
			<result property="foodReviewAnswerNo" column="FOOD_REVIEW_ANSWER_NO" />
			<result property="foodReviewAnswerContent" column="FOOD_REVIEW_ANSWER_CONTENT" />
			<result property="foodReviewAnswerRegdate" column="FOOD_REVIEW_ANSWER_REGDATE" jdbcType="DATE"/>
		</collection>
</resultMap>
<select id="selectReviewAndAnswer" parameterType="Integer" resultMap="selectReviewAndAnswerMap">
		SELECT
		fr.food_review_no, fr.member_email, fr.food_no, fr.seller_email, fr.food_cat_a_no, fr.food_cat_b_no,
        fr.food_cat_c_no, food_review_regdate, food_review_food_name,
        food_review_title, food_review_score, food_review_comment, food_review_size,
        food_review_original, food_review_stored,
        food_review_answer_no, food_review_answer_content, food_review_answer_regdate
		FROM food_review fr, food_review_answer fra
		WHERE fr.food_review_no = fra.food_review_no(+) AND fr.food_no = #{foodNo}
		ORDER BY food_review_regdate
</select>


<update id="updateFoodReview" parameterType="FoodReview">
		UPDATE food_review
		SET
		food_review_no = #{foodReviewNo},
		member_email = #{memberEmail},
		food_no = #{foodNo},
		seller_email = #{sellerEmail},
		food_cat_a_no = #{foodCatANo},
		food_cat_b_no = #{foodCatBNo},
		food_cat_c_no = #{foodCatCNo},  
		food_review_regdate = #{foodReviewRegdate},   
		food_review_food_name = #{foodReviewFoodName},
		food_review_title = #{foodReviewTitle},
		food_review_score = #{foodReviewScore},    
		food_review_comment = #{foodReviewComment},
		food_review_size = #{foodReviewSize},    
		food_review_original = #{foodReviewOriginal},    
		food_review_stored = #{foodReviewStored}  
		WHERE food_review_no = #{foodReviewNo}
</update>

<delete id="deleteFoodReview" parameterType="Integer">
	DELETE
	FROM food_review
	WHERE food_review_no = #{foodReviewNo}
</delete>



<insert id="insertFoodReviewAnswer" parameterType="FoodReviewAnswer">
		INSERT INTO FOOD_REVIEW_ANSWER(
		FOOD_REVIEW_NO, MEMBER_EMAIL, FOOD_NO, SELLER_EMAIL, FOOD_REVIEW_ANSWER_NO, FOOD_CAT_A_NO, FOOD_CAT_B_NO, FOOD_CAT_C_NO,
		FOOD_REVIEW_ANSWER_CONTENT, FOOD_REVIEW_ANSWER_REGDATE
		)
		VALUES(
		#{foodReviewNo}, #{memberEmail}, #{foodNo}, #{sellerEmail}, #{foodReviewAnswerNo}, #{foodCatANo}, #{foodCatBNo}, #{foodCatCNo}, 
		#{foodReviewAnswerContent}, #{foodReviewAnswerRegdate}
		)
</insert>

<update id="updateFoodReviewAnswer" parameterType="FoodReviewAnswer">
		UPDATE food_review_answer
		SET
		food_review_no = #{foodReviewNo},
		member_email = #{memberEmail},
		food_no = #{foodNo},
		seller_email = #{sellerEmail},
		food_review_answer_no= #{foodReviewAnswerNo},
		food_cat_a_no = #{foodCatANo},
		food_cat_b_no = #{foodCatBNo},
		food_cat_c_no = #{foodCatCNo},  
		food_review_answer_content = #{foodReviewAnswerContent},   
		food_review_answer_regdate = #{foodReviewAnswerRegdate}
		WHERE food_review_answer_no = #{foodReviewAnswerNo}
</update>

<delete id="deleteFoodReviewAnswer" parameterType="Integer">
	DELETE
	FROM food_review_answer
	WHERE food_review_answer_no = #{foodReviewAnswerNo}
</delete>

<insert id="insertFoodReviewReport" parameterType="FoodReviewReport">
		INSERT INTO food_review_report(
		food_review_no, member_email, food_no, seller_email, food_cat_a_no, food_cat_b_no, food_cat_c_no, food_report_title,
		food_report_content, food_report_writer, food_report_regdate
		)
		VALUES(
		#{foodReviewNo}, #{memberEmail}, #{foodNo}, #{sellerEmail}, #{foodCatANo}, #{foodCatBNo}, #{foodCatCNo}, #{foodReportTitle},
		#{foodReportContent}, #{foodReportWriter}, #{foodReportRegdate}
		)
</insert>


<resultMap type="FoodReviewReport" id="selectFoodReviewReportListMap">
		<id column="food_review_no" jdbcType="BIGINT" property="foodReviewNo" />
		<id column="member_email" jdbcType="VARCHAR" property="memberEmail" />
		<id column="food_no" jdbcType="BIGINT" property="foodNo" />
		<id column="seller_email" jdbcType="VARCHAR" property="sellerEmail" />
		<id column="food_cat_a_no" jdbcType="BIGINT" property="foodCatANo" />
		<id column="food_cat_b_no" jdbcType="BIGINT" property="foodCatBNo" />
		<id column="food_cat_c_no" jdbcType="BIGINT" property="foodCatCNo" />
		<result column="food_report_title" jdbcType="VARCHAR" property="foodReportTitle" />
		<result column="food_report_content" jdbcType="VARCHAR" property="foodReportContent" />
		<result column="food_report_writer" jdbcType="VARCHAR" property="foodReportWriter" />
		<result column="food_report_regdate" jdbcType="DATE" property="foodReportRegdate" />
</resultMap>

<select id="selectFoodReviewReportList" resultMap="selectFoodReviewReportListMap">
		SELECT
		food_review_no, member_email, food_no, seller_email, food_cat_a_no, 
		food_cat_b_no, food_cat_c_no, food_report_title, food_report_content, food_report_writer, food_report_regdate
		FROM food_review_report
		ORDER BY food_report_regdate
</select>

<select id="selectFoodReviewReport" parameterType="String" resultMap="selectFoodReviewReportListMap">
	SELECT
	food_review_no, member_email, food_no, seller_email, food_cat_a_no, food_cat_b_no, food_cat_c_no,
	food_report_title, food_report_content, food_report_writer, food_report_regdate
	FROM food_review_report
	WHERE food_report_regdate = #{foodReportRegdate}
</select>

<delete id="deleteFoodReviewReport" parameterType="String">
	DELETE
	FROM food_review_report
	WHERE food_report_regdate = #{foodReportRegdate}
</delete>


<insert id="insertDietRecord" parameterType="DietRecord">
		INSERT INTO diet_record(
		diet_record_no, member_email, food_nutrient_name, diet_record_regdate, diet_record_time, food_quantity
		)
		VALUES(
		#{dietRecordNo}, #{memberEmail}, #{foodNutrientname}, #{dietRecordRegdate}, #{dietRecordTime}, #{foodQuantity}
		)
</insert>

<delete id="deleteDietRecord" parameterType="Integer">
	DELETE
	FROM diet_record
	WHERE diet_record_no = #{dietRecordNo}
</delete>

<resultMap type="DietRecord" id="selectFoodRecordMap">
		<id column="diet_record_no" jdbcType="BIGINT" property="dietRecordNo" />
		<id column="member_email" jdbcType="VARCHAR" property="memberEmail" />
		<id column="food_nutrient_name" jdbcType="VARCHAR" property="foodNutrientname" />
		<result column="diet_record_regdate" jdbcType="VARCHAR" property="dietRecordRegdate" />
		<result column="diet_record_time" jdbcType="VARCHAR" property="dietRecordTime" />
		<result column="food_quantity" jdbcType="BIGINT" property="foodQuantity" />
</resultMap>

<select id="selectFoodRecord" parameterType="DietRecord" resultType="Integer">
		SELECT
		count(diet_record_no)
		FROM diet_record
		WHERE diet_record_regdate = #{dietRecordRegdate}
		AND diet_record_time = #{dietRecordTime}
		AND member_email = #{memberEmail}
		AND food_nutrient_name = #{foodNutrientname}
</select>


<resultMap type="DietRecordFood" id="selectDietRecordFoodListMap">
		<id column="diet_record_no" jdbcType="BIGINT" property="dietRecordNo" />
		<id column="member_email" jdbcType="VARCHAR" property="memberEmail" />
		<id column="food_nutrient_name" jdbcType="VARCHAR" property="foodNutrientName" />
		<result column="diet_record_regdate" jdbcType="VARCHAR" property="dietRecordRegdate" />
		<result column="diet_record_time" jdbcType="VARCHAR" property="dietRecordTime" />
		<result column="food_quantity" jdbcType="BIGINT" property="foodQuantity" />
		<result column="food_carbo" jdbcType="BIGINT" property="foodCarbo" />
		<result column="food_protein" jdbcType="BIGINT" property="foodProtein" />
		<result column="food_fat" jdbcType="BIGINT" property="foodFat" />
		<result column="food_cal" jdbcType="BIGINT" property="foodCal" />
</resultMap>


<select id="selectDietRecordFoodList" parameterType="DietRecord" resultMap="selectDietRecordFoodListMap">
		SELECT
		diet_record_no, member_email, dr.food_nutrient_name, diet_record_regdate, diet_record_time, food_quantity, food_carbo, food_protein, food_fat, food_cal
		FROM diet_record dr, food fd
		WHERE dr.food_nutrient_name = fd.food_name
		AND member_email = #{memberEmail}
		AND diet_record_regdate = #{dietRecordRegdate}
union
SELECT
		diet_record_no, member_email, dr.food_nutrient_name, diet_record_regdate, diet_record_time, food_quantity, fn.FOOD_NUTRIENT_CARBO, FOOD_NUTRIENT_PROTEIN, FOOD_NUTRIENT_FAT, FOOD_NUTRIENT_CAL
		FROM diet_record dr, FOOD_NUTRIENT fn
		WHERE dr.food_nutrient_name = fn.food_nutrient_name
		AND member_email = #{memberEmail}
		AND diet_record_regdate = #{dietRecordRegdate}
        order by food_nutrient_name
</select>


<select id="selectDietRecord" parameterType="DietRecord" resultType="Integer">
		SELECT
		count(diet_record_no)
		FROM diet_record
		WHERE diet_record_regdate = #{dietRecordRegdate}
		AND diet_record_time = #{dietRecordTime}
		AND member_email = #{memberEmail}
		AND food_nutrient_name = #{foodNutrientname}
</select>
<resultMap type="FoodNutrient" id="selectFoodNutrientMap">
		<id column="food_nutrient_name" jdbcType="VARCHAR" property="foodNutrientName" />
		<result column="food_nutrient_cat_name" jdbcType="VARCHAR" property="foodNutrientCatName" />
		<result column="FOOD_NUTRIENT_CAL" jdbcType="BIGINT" property="foodNutrientCal" />
		<result column="FOOD_NUTRIENT_CARBO" jdbcType="BIGINT" property="foodNutrientCarbo" />
		<result column="FOOD_NUTRIENT_PROTEIN" jdbcType="BIGINT" property="foodNutrientProtein" />
		<result column="food_nutrient_fat" jdbcType="BIGINT" property="foodNutrientFat" />
</resultMap>


<select id="selectFoodNutrientList" resultMap="selectFoodNutrientMap">
		select DISTINCT food_nutrient_cat_name
		from food_nutrient
</select> 

<select id="selectfoodNutListB" resultMap="selectFoodNutrientMap" parameterType="String">
		select *
		from food_nutrient
		where food_nutrient_cat_name = #{foodNutrientCatName}
</select> 

<resultMap type="FoodOrderReceiverPay" id="selectFoodOrderStatisticsMap">
		<id column="ROWNUM" jdbcType="BIGINT" property="rownum" />
		<result column="food_order_name" jdbcType="VARCHAR" property="foodOrderName" />
		<result column="food_order_quant" jdbcType="BIGINT" property="foodOrderQuant" />
		<result column="food_pay_price" jdbcType="BIGINT" property="foodPayPrice" />
		<result column="food_pay_date" jdbcType="VARCHAR" property="foodPayDate" />
		<result column="food_quant" jdbcType="BIGINT" property="foodQuant" />
		<result column="seller_email" jdbcType="VARCHAR" property="sellerEmail" />
</resultMap>
	
<select id="selectFoodOrderStatDay" parameterType="FoodOrderReceiverPay" resultMap="selectFoodOrderStatisticsMap">
	select rownum, A.*
	from (select fo.food_order_name, fo.food_order_quant, fp.food_pay_price, fp.food_pay_date, f.FOOD_QUANT, fo.seller_email
	from food_pay fp, food_order_receiver forr, food_order fo, food f
	where fp.food_order_receiver_no = forr.food_order_receiver_no
	AND forr.food_order_receiver_no = fo.food_order_receiver_no
	AND fo.FOOD_NO = f.FOOD_NO
	AND fo.seller_email = #{sellerEmail}
    AND fp.food_pay_date LIKE #{foodPayDate}
	union
	select pfo.PRO_FOOD_ORDER_NAME, pfo.PRO_FOOD_ORDER_QUANT, pfp.PRO_FOOD_PAY_PRICE, pfp.PRO_FOOD_PAY_DATE, f.FOOD_QUANT, pfo.seller_email
	from pro_food_pay pfp,  pro_food_order_receiver pfor,  pro_food_order pfo, food f
	where pfp.PRO_FOOD_ORDER_RECEIVER_NO = pfor.PRO_FOOD_ORDER_RECEIVER_NO
	AND pfor.PRO_FOOD_ORDER_RECEIVER_NO = pfo.PRO_FOOD_ORDER_RECEIVER_NO
	AND pfo.FOOD_NO = f.FOOD_NO
	AND pfo.SELLER_EMAIL = #{sellerEmail}
    AND pfp.pro_food_pay_date LIKE #{foodPayDate}
	order by food_order_quant desc) A
</select>

<select id="selectFoodOrderStatMonth" parameterType="FoodOrderReceiverPay" resultMap="selectFoodOrderStatisticsMap">
	select rownum, A.*
	from (select fo.food_order_name, fo.food_order_quant, fp.food_pay_price, fp.food_pay_date, f.FOOD_QUANT, fo.seller_email
	from food_pay fp, food_order_receiver forr, food_order fo, food f
	where fp.food_order_receiver_no = forr.food_order_receiver_no
	AND forr.food_order_receiver_no = fo.food_order_receiver_no
	AND fo.FOOD_NO = f.FOOD_NO
	AND fo.seller_email = #{sellerEmail}
    AND fp.food_pay_date LIKE #{foodPayDate}
	union
	select pfo.PRO_FOOD_ORDER_NAME, pfo.PRO_FOOD_ORDER_QUANT, pfp.PRO_FOOD_PAY_PRICE, pfp.PRO_FOOD_PAY_DATE, f.FOOD_QUANT, pfo.seller_email
	from pro_food_pay pfp,  pro_food_order_receiver pfor,  pro_food_order pfo, food f
	where pfp.PRO_FOOD_ORDER_RECEIVER_NO = pfor.PRO_FOOD_ORDER_RECEIVER_NO
	AND pfor.PRO_FOOD_ORDER_RECEIVER_NO = pfo.PRO_FOOD_ORDER_RECEIVER_NO
	AND pfo.FOOD_NO = f.FOOD_NO
	AND pfo.SELLER_EMAIL = #{sellerEmail}
    AND pfp.pro_food_pay_date LIKE #{foodPayDate}
	order by food_order_quant desc) A
</select>

<resultMap type="FoodOrder" id="selectSellerOrderedFoodListMap">
		<id column="MEMBER_EMAIL" jdbcType="VARCHAR" property="memberEmail" />
		<id column="FOOD_ORDER_RECEIVER_NO" jdbcType="BIGINT" property="foodOrderReceiverNo" />
		<id column="FOOD_NO" jdbcType="BIGINT" property="foodNo" />
		<id column="SELLER_EMAIL" jdbcType="VARCHAR" property="sellerEmail" />
		<id column="FOOD_CAT_A_NO" jdbcType="BIGINT" property="foodCatANo" />
		<id column="FOOD_CAT_B_NO" jdbcType="BIGINT" property="foodCatBNo" />
		<id column="FOOD_CAT_C_NO" jdbcType="BIGINT" property="foodCatCNo" />
		<result column="FOOD_ORDER_PRICE" jdbcType="BIGINT" property="foodOrderPrice" />
		<result column="FOOD_ORDER_QUANT" jdbcType="BIGINT" property="foodOrderQuant" />
		<result column="FOOD_ORDER_NAME" jdbcType="VARCHAR" property="foodOrderName" />
		<result column="FOOD_ORDER_STORED" jdbcType="VARCHAR" property="foodOrderStored" />
</resultMap>

<select id="selectSellerOrderedFoodList" parameterType="String" resultMap="selectSellerOrderedFoodListMap">
		select *
		from food_order
		where SELLER_EMAIL = #{sellerEmail}
		order by food_order_receiver_no
</select> 


<select id="selectMemberDivide" resultType="String" parameterType="String">
		select member_divide
		from member
		where member_email = #{memberEmail}
</select>



<resultMap type="AvgReviewScore" id="selectAvgReviewScoreMap">
		<result column="food_no" jdbcType="BIGINT" property="foodNo" />
		<result column="avg_review_score" jdbcType="BIGINT" property="avgReviewScore" />
</resultMap>

<select id="selectAvgReviewScore" resultMap="selectAvgReviewScoreMap">
		select FOOD_NO,ROUND(avg(FOOD_REVIEW_SCORE)) as avg_review_score
		from food_review
		group by food_no
		order by food_no
</select> 

<resultMap type="MemberSurvey" id="selectMemberWeightHeightMap">
		<id column="SURV_NO" jdbcType="BIGINT" property="survNo" />
		<result column="MEMBER_EMAIL" jdbcType="VARCHAR" property="memberEmail" />
		<result column="SURV_HEIGHT" jdbcType="BIGINT" property="survHeight" />
		<result column="SURV_WEIGHT" jdbcType="BIGINT" property="survWeight" />
		<result column="SURV_EAT" jdbcType="VARCHAR" property="survEat" />
		<result column="SURV_BMI" jdbcType="BIGINT" property="survBMI" />
		<result column="SURV_SEX" jdbcType="VARCHAR" property="survSex" />
		<result column="SURV_AGE" jdbcType="BIGINT" property="survAge" />
		<result column="SURV_LIFESTYLE" jdbcType="VARCHAR" property="survLifestyle" />
		<result column="SURV_DIET_PERIOD" jdbcType="VARCHAR"    property="surveyDietPeriod" />
		<result column="SURV_SHAPE" jdbcType="VARCHAR"	property="survShape" />
		<result column="SURV_DISEASE" jdbcType="VARCHAR" property="survDisease" />
		<result column="SURV_CONCERN" jdbcType="VARCHAR" property="survConcern" />
		<result column="SURV_CAUSE" jdbcType="VARCHAR" property="survCause" />
		<result column="SURV_CAREER" jdbcType="VARCHAR" property="survCareer" />
</resultMap>

<select id="selectMemberWeightHeight" parameterType="String" resultMap="selectMemberWeightHeightMap">
		select * 
		from (select * from survey where member_email = #{memberEmail} order by surv_no desc)
		where rownum = 1
</select>

</mapper>
