<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis-org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.mapper.payMapper">
<cache></cache>

<insert id="programPayInsert" parameterType="ProPay">
	insert into pro_pay
	(PRO_PAY_NO, PRO_ORDER_NO, MEMBER_EMAIL, PRO_NO, COACH_EMAIL, PRO_PAY_PRICE, PRO_PAY_DIVIDE,
	PRO_PAY_CARD_NO, PRO_PAY_CARD_M, PRO_PAY_CARD_Y, PRO_PAY_CARD_CVC, PRO_PAY_DATE)
	values
	(#{proPayNo}, #{proOrderNo}, #{memberEmail}, #{proNo}, #{coachEmail}, #{proPayPrice},
	 #{proPayDivide}, #{proPayCardNo}, #{proPayCardM}, #{proPayCardY}, #{proPayCardCvc}, #{proPayDate})
</insert>

<insert id="insertProOrder" parameterType="ProOrder">
	insert into pro_order 
	(PRO_ORDER_NO, MEMBER_EMAIL, PRO_NO, COACH_EMAIL, PRO_ORDER_NAME, PRO_ORDER_TOTAL, PRO_ORDER_STORED)
	values
	(#{proOrderNo}, #{memberEmail}, #{proNo}, #{coachEmail}, #{proOrderName}, #{proOrderTotal}, #{proOrderStored})
</insert>

<insert id="proFoodPayInsert" parameterType="ProFoodPay">
	insert into pro_food_pay
	(PRO_FOOD_PAY_NO, MEMBER_EMAIL, PRO_FOOD_ORDER_RECEIVER_NO, PRO_FOOD_PAY_PRICE, PRO_FOOD_PAY_DIVIDE, 
	PRO_FOOD_PAY_CARD_NO, PRO_FOOD_PAY_CARD_M, PRO_FOOD_PAY_CARD_Y, PRO_FOOD_PAY_CARD_CVC, PRO_FOOD_PAY_DATE)
	values
	(#{proFoodPayNo}, #{memberEmail}, #{proFoodOrderReceiverNo}, #{proFoodPayPrice}, #{proFoodPayDivide}, 
	#{proFoodPayCardNo}, #{proFoodPayCardM}, #{proFoodPayCardY}, #{proFoodPayCardCvc}, #{proFoodPayDate})
</insert>

<insert id="payInsert" parameterType="FoodPay">
	insert into food_pay
	(FOOD_PAY_NO, MEMBER_EMAIL, FOOD_ORDER_RECEIVER_NO, FOOD_PAY_PRICE, FOOD_PAY_DIVIDE, 
	FOOD_PAY_CARD_NO, FOOD_PAY_CARD_M, FOOD_PAY_CARD_Y, FOOD_PAY_CARD_CVC, FOOD_PAY_DATE)
	values
	(#{foodPayNo}, #{memberEmail}, #{foodOrderReceiverNo}, #{foodPayPrice}, #{foodPayDivide}, 
	#{foodPayCardNo}, #{foodPayCardM}, #{foodPayCardY}, #{foodPayCardCvc}, #{foodPayDate})
</insert>


 <insert id="insertFoodOrder" parameterType="FoodOrder" >
	insert into FOOD_ORDER 
	(MEMBER_EMAIL, FOOD_ORDER_RECEIVER_NO, FOOD_NO, SELLER_EMAIL, FOOD_CAT_A_NO, FOOD_CAT_B_NO, FOOD_CAT_C_NO,
	FOOD_ORDER_PRICE, FOOD_ORDER_QUANT, FOOD_ORDER_NAME, FOOD_ORDER_STORED)
	values
	(#{memberEmail}, #{foodOrderReceiverNo}, #{foodNo}, #{sellerEmail}, #{foodCatANo}, #{foodCatBNo},
	#{foodCatCNo}, #{foodOrderPrice}, #{foodOrderQuant}, #{foodOrderName}, #{foodOrderStored})
</insert>


<insert id="insertProFoodOrder" parameterType="ProFoodOrder">
	insert into PRO_FOOD_ORDER 
	(PRO_FOOD_NO, FOOD_NO, SELLER_EMAIL, MEMBER_EMAIL, PRO_FOOD_ORDER_RECEIVER_NO, FOOD_CAT_A_NO, FOOD_CAT_B_NO, FOOD_CAT_C_NO,
	PRO_NO, COACH_EMAIL, PRO_FOOD_ORDER_PRICE, PRO_FOOD_ORDER_QUANT, PRO_FOOD_ORDER_NAME, PRO_FOOD_ORDER_STORED)
	values
	(#{proFoodNo}, #{foodNo}, #{sellerEmail}, #{memberEmail}, #{proFoodOrderReceiverNo}, #{foodCatANo}, #{foodCatBNo},
	#{foodCatCNo}, #{proNo}, #{coachEmail}, #{proFoodOrderPrice}, #{proFoodOrderQuant}, #{proFoodOrderName}, #{proFoodOrderStored})
</insert>

<insert id="insertProFoodOrderReceiver" parameterType="ProFoodOrderReceiver">
	insert into PRO_FOOD_ORDER_RECEIVER 
	(PRO_FOOD_ORDER_RECEIVER_NO, MEMBER_EMAIL, PRO_FOOD_ORDER_RECEIVER_NAME, PRO_FOOD_ORDER_RECEIVER_PHONE, 
	PRO_FOOD_ORDER_RECEIVER_ADDR1, PRO_FOOD_ORDER_RECEIVER_ADDR2, PRO_FOOD_ORDER_RECEIVER_ADDRNO,
	PRO_FOOD_ORDER_RECEIVER_TOTAL)
	values
	(#{proFoodOrderReceiverNo}, #{memberEmail}, #{proFoodOrderReceiverName}, #{proFoodOrderReceiverPhone},
	 #{proFoodOrderReceiverAddr1}, #{proFoodOrderReceiverAddr2}, #{proFoodOrderReceiverAddrno}, #{proFoodOrderReceiverTotal})
</insert>
<insert id="insertFoodOrderReceiver" parameterType="FoodOrderReceiver" >
	insert into FOOD_ORDER_RECEIVER 
	(FOOD_ORDER_RECEIVER_NO, MEMBER_EMAIL, FOOD_ORDER_RECEIVER_NAME, FOOD_ORDER_RECEIVER_PHONE, 
	FOOD_ORDER_RECEIVER_ADDR1, FOOD_ORDER_RECEIVER_ADDR2, FOOD_ORDER_RECEIVER_ADDRNO, FOOD_ORDER_RECEIVER_TOTAL)
	values
	(#{foodOrderReceiverNo}, #{memberEmail}, #{foodOrderReceiverName}, #{foodOrderReceiverPhone},
	 #{foodOrderReceiverAddr1}, #{foodOrderReceiverAddr2}, #{foodOrderReceiverAddrno}, #{foodOrderReceiverTotal})
</insert> 

<resultMap type="Food" id="foodCategoryResultMap">
	<result jdbcType="BIGINT" property="foodNo" column="food_no" />
	<result jdbcType="VARCHAR" property="sellerEmail" column="seller_email" />
	<result jdbcType="BIGINT" property="foodCatANo" column="food_cat_a_no" />
	<result jdbcType="BIGINT" property="foodCatBNo" column="food_cat_b_no" />
	<result jdbcType="BIGINT" property="foodCatCNo" column="food_cat_c_no" />
	
</resultMap>

<select id="selectFoodCategoryByFoodNo" parameterType="Integer" resultMap="foodCategoryResultMap">
 select food_no, seller_email, food_cat_a_no, food_cat_b_no, food_cat_c_no 
 from food
 where food_no = #{foodNo}
</select>

<select id="selectSequenceNumber" resultType="Integer">
	select COUNT_NUMBER.NEXTVAL
	from dual
</select>

</mapper>