<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis-org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.mapper.programMapper">
<cache></cache>

<resultMap id="programExerciseMap" type="ProgramExercise">
	<id column="PRO_NO" jdbcType="BIGINT" property="proNo"/>	
	<id column="COACH_EMAIL" jdbcType="VARCHAR" property="coachEmail"/>	
	<id column="EXERCISE_NUMBER" jdbcType="BIGINT" property="exerciseNumber"/>	
	<id column="EXERCISE_CAT_A_NUMBER" jdbcType="BIGINT" property="exerciseCatANumber"/>	
	<id column="EXERCISE_CAT_B_NUMBER" jdbcType="BIGINT" property="exerciseCatBNumber"/>	
</resultMap>

<select id="selectByProgramNumber" parameterType="int" resultMap="programExerciseMap">
	select PRO_NO, COACH_EMAIL, EXERCISE_NUMBER, EXERCISE_CAT_A_NUMBER, EXERCISE_CAT_B_NUMBER
	from program_exercise
	where pro_no = #{proNo}
</select>

<resultMap type="Program" id="programMap">
	<id column="PRO_NO" jdbcType="BIGINT" property="proNo"/>	
	<id column="COACH_EMAIL" jdbcType="VARCHAR" property="coachEmail"/>	
	
	<result column="PRO_NAME" jdbcType="VARCHAR" property="proName"/>	
	<result column="PRO_SIZE" jdbcType="BIGINT" property="proSize"/>	
	<result column="PRO_ORIGINAL" jdbcType="VARCHAR" property="proOriginal"/>	
	<result column="PRO_STORED" jdbcType="VARCHAR" property="proStored"/>	
	<result column="PRO_REGDATE" jdbcType="DATE" property="proRegdate"/>	
	<result column="PRO_CONTENT" jdbcType="VARCHAR" property="proContent"/>	
	<result column="PRO_STATUS" jdbcType="VARCHAR" property="proStatus"/>	
	<result column="PRO_DES" jdbcType="VARCHAR" property="proDes"/>	
</resultMap>


<select id="programList" resultMap="programMap">
	select PRO_NO, COACH_EMAIL, PRO_NAME, PRO_SIZE, PRO_ORIGINAL, PRO_STORED,
	PRO_REGDATE, PRO_CONTENT, PRO_STATUS, PRO_DES
	from program
</select>

<select id="selectExerciseNumberByCategory" parameterType="Integer" resultType="Integer">
	select EXERCISE_NUMBER from exercise
	where EXERCISE_CAT_A_NUMBER = #{exerciseCatANumber}
</select>

<select id="selectCatByExerciseCatAName" resultMap="exerciseCatAMap" parameterType="string">
 select EXERCISE_CAT_A_NUMBER, EXERCISE_CAT_B_NUMBER, EXERCISE_CAT_A_NAME
 from EXERCISE_CAT_A
 where EXERCISE_CAT_A_NAME = #{exercisCatAName} 
</select>

<!--카테고리  -->
<resultMap type="ExerciseCatB" id="exerciseCatBMap">
	<id column="EXERCISE_CAT_B_NUMBER" jdbcType="BIGINT" property="exerciseCatBNumber"/>
	<result column="EXERCISE_CAT_B_NAME" jdbcType="VARCHAR" property="exerciseCatBName"/>	
</resultMap>


<select id="exerciseCatBSelect" resultMap="exerciseCatBMap">
	select EXERCISE_CAT_B_NUMBER, EXERCISE_CAT_B_NAME
	from EXERCISE_CAT_B
</select>

<resultMap type="ExerciseCatA" id="exerciseCatAMap">
	<id column="EXERCISE_CAT_A_NUMBER" jdbcType="BIGINT" property="exerciseCatANumber"/>
	<result column="EXERCISE_CAT_B_NUMBER" jdbcType="BIGINT" property="exerciseCatBNumber"/>
	<result column="EXERCISE_CAT_A_NAME" jdbcType="VARCHAR" property="exerciseCatAName"/>	
</resultMap>

<select id="exerciseCatASelect" resultMap="exerciseCatAMap" parameterType="ExerciseCatB">
 select EXERCISE_CAT_A_NUMBER, EXERCISE_CAT_B_NUMBER, EXERCISE_CAT_A_NAME
 from EXERCISE_CAT_A
 where EXERCISE_CAT_B_NUMBER = #{exerciseCatBNumber}
</select>

<!--프로그램  -->
<select id="selectProgramNumber" resultType="Integer">
	select COUNT_NUMBER.NEXTVAL
	from dual
</select>

<insert id="insertProgramExercise" parameterType="ProgramExercise">
	insert into program_exercise 
	(PRO_NO, COACH_EMAIL, EXERCISE_NUMBER, EXERCISE_CAT_A_NUMBER, EXERCISE_CAT_B_NUMBER)
	values
	(#{proNo}, #{coachEmail}, #{exerciseNumber}, #{exerciseCatANumber}, #{exerciseCatBNumber})
</insert>

<insert id="insertProgram" parameterType="Program">
	insert into program
	(PRO_NO, COACH_EMAIL, PRO_NAME, PRO_SIZE, 
	PRO_ORIGINAL, PRO_STORED, PRO_REGDATE, PRO_CONTENT)
	values
	(#{proNo}, #{coachEmail}, #{proName}, #{proSize},
	#{proOriginal}, #{proStored}, #{proRegdate}, #{proContent})
	
</insert>




</mapper>