<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis-org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.mapper.sellerMapper">
<cache></cache>

<sql id="col">
	seller_email, seller_pw, seller_phone, seller_term
</sql>

<insert id="insertSeller" parameterType="Seller">
 INSERT INTO seller
 (<include refid="col"></include>) 
 VALUES (#{sellerEmail}, #{sellerPw}, #{sellerPhone}, #{sellerTerm})
</insert>

<resultMap type="Seller" id="sellerMap">
	<id column="SELLER_EMAIL" jdbcType="VARCHAR" property="sellerEmail" />
	<result column="SELLER_PW" jdbcType="VARCHAR" property="sellerPw" />
	<result column="SELLER_PHONE" jdbcType="VARCHAR" property="sellerPhone" />
	<result column="SELLER_TERM" jdbcType="VARCHAR" property="sellerTerm" />
</resultMap>

<select id="selectByEmail" resultMap="sellerMap" parameterType="String">
	SELECT <include refid="col"></include>
	FROM seller
	WHERE seller_email = #{seller_email}
</select>

<update id="updateSeller" parameterType="Seller">
	UPDATE seller
	<set>
		<if test="sellerPw != null">
			seller_pw = #{sellerPw}, 
		</if>
	
		<if test="sellerPhone != null">
			seller_phone = #{sellerPhone}
		</if>
	</set>
	<where>
		seller_email = #{sellerEmail}
	</where>
</update>

<delete id="deleteSeller">
	DELETE
	FROM seller
	WHERE seller_email = #{sellerEmail} and seller_pw = #{sellerPw}
</delete>

<delete id="deleteFood" parameterType="String">
	DELETE
	FROM food
	WHERE seller_email = #{sellerEmail}
</delete>
</mapper>