<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<properties resource="database.properties"></properties>
	<typeAliases>
		<typeAlias type="model.Coach" alias="Coach"/>
		<typeAlias type="model.Seller" alias="Seller"/>
		<typeAlias type="model.Food" alias="Food"/>
		<typeAlias type="model.AuthInfo" alias="AuthInfo"/>
		<typeAlias type="model.Member" alias="Member"/>
		<typeAlias type="model.MemberSurvey" alias="MemberSurvey"/>
		<typeAlias type="model.Exercise" alias="Exercise"/>
		<typeAlias type="model.Program" alias="Program"/>
		<typeAlias type="model.Upload" alias="Upload"/>
		<typeAlias type="model.ProgramExercise" alias="ProgramExercise"/>		
		<typeAlias type="category.ExerciseCatA" alias="ExerciseCatA"/>
		<typeAlias type="category.ExerciseCatB" alias="ExerciseCatB"/>
		<typeAlias type="category.FoodCatA" alias="FoodCatA"/>
		<typeAlias type="category.FoodCatB" alias="FoodCatB"/>
		<typeAlias type="category.FoodCatC" alias="FoodCatC"/>
		
	
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${user}"/>
				<property name="password" value="${pw}"/> 
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="repository/mapper/memberMapper.xml"/>
		<mapper resource="repository/mapper/coachMapper.xml"/>
		<mapper resource="repository/mapper/sellerMapper.xml"/>
		<mapper resource="repository/mapper/loginMapper.xml"/>
		<mapper resource="repository/mapper/exerciseMapper.xml"/>
		<mapper resource="repository/mapper/foodMapper.xml"/>
		<mapper resource="repository/mapper/programMapper.xml"/>
		<mapper resource="repository/mapper/emailMapper.xml"/>
	</mappers>
</configuration>